version: "3"
services:
  mariadb:
    image: mariadb:latest
    environment:
      MYSQL_ROOT_PASSWORD: password
      MYSQL_DATABASE: decyphr
    ports:
      - "3306:3306"
    volumes:
      - mariadb_data:/var/lib/mysql
  redis:
    image: redis:7.2-alpine
    container_name: redis
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: ["redis-server", "--appendonly", "yes"]
  zookeeper:
    image: confluentinc/cp-zookeeper:latest
    environment:
      ZOOKEEPER_CLIENT_PORT: 2181
      ZOOKEEPER_TICK_TIME: 2000
    ports:
      - '2181:2181'
  kafka:
    image: confluentinc/cp-kafka:7.9.0
    depends_on:
      - zookeeper
    ports:
      - 9092:9092
      - 9093:9093
      - "29092:29092"
    environment:
      KAFKA_BROKER_ID: 1
      KAFKA_ZOOKEEPER_CONNECT: zookeeper:2181
      KAFKA_LISTENERS: PLAINTEXT://0.0.0.0:29092,PLAINTEXT_INTERNAL://kafka:9092,EXTERNAL://0.0.0.0:9093
      KAFKA_ADVERTISED_LISTENERS: PLAINTEXT://kafka:29092,PLAINTEXT_INTERNAL://kafka:9092,EXTERNAL://127.0.0.1:9093
      KAFKA_LISTENER_SECURITY_PROTOCOL_MAP: PLAINTEXT:PLAINTEXT,EXTERNAL:PLAINTEXT,PLAINTEXT_INTERNAL:PLAINTEXT
      KAFKA_INTER_BROKER_LISTENER_NAME: PLAINTEXT
      KAFKA_OFFSETS_TOPIC_REPLICATION_FACTOR: 1
      KAFKA_CFG_ADVERTISED_LISTENERS: PLAINTEXT://127.0.0.1:9093

  kafka-ui:
    image: provectuslabs/kafka-ui:latest
    depends_on:
      - kafka
    ports:
      - "9095:8080"
    environment:
      KAFKA_CLUSTERS_0_NAME: kafka
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: kafka:9092
      KAFKA_CLUSTERS_0_ZOOKEEPER: zookeeper:2181

  translator:
    build:
      context: ./apps/translation/translation-connector
      dockerfile: ./Dockerfile
    ports:
      - "3009:3009"
    restart: always
    depends_on:
      - kafka
      - mariadb

  ai-connector:
    build:
      context: ./apps/ai/ai-connector
      dockerfile: ./Dockerfile
    ports:
      - "8006:3000"
    restart: always
    depends_on:
      - kafka
      - mariadb
  bots:
    build:
      context: ./apps/chat/bots
      dockerfile: ./Dockerfile
    ports:
      - "8007:3000"
    restart: always
    depends_on:
      - mariadb
      - redis
  chat:
    build:
      context: ./apps/chat/chat
      dockerfile: ./Dockerfile
    ports:
      - "3008:3008"
    restart: always
    depends_on:
      - kafka
      - mariadb
  nlp:
    build:
      context: ./nlp
    container_name: nlp
    ports:
      - "8300:8300"
    restart: unless-stopped
  lexicon:
    build:
      context: ./apps/lexicon
      dockerfile: ./Dockerfile
    ports:
      - "3010:3010"
    restart: always
    depends_on:
      - kafka
      - mariadb
    env_file:
      - ./apps/lexicon/.env

  client:
    build:
      context: ./apps/client
      dockerfile: ./Dockerfile
    ports:
      - "8000:8000"
    restart: always
    depends_on:
      - mariadb
      - kafka

volumes:
  mariadb_data:
  redis_data:
